
.headerBox{
    width: 100%;
    height:710px;
    background-image:url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cmVkJTIwbW91bnRhaW58ZW58MHx8MHx8&w=1000&q=80");
   background-position:inherit;
    background-repeat: no-repeat;
    background-size: cover;
 scroll-behavior: smooth;

  
}
.navbar{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
   background-color: transparent;  
  
}

.navbar p{
   
    font-weight: bolder;
    font-family: cursive;
    
     font-size: 30px;
     margin-top:10px ;
     color: white;
}
.navbar p::first-letter{
    color: #ec655f;
 
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar .navlinks{
    display: flex;
    flex-direction: row;
    
}
.navbar ul li{
list-style: none;
margin: 0px 20px;

font-family: cursive;
font-weight: bolder;
}
.navbar ul li:hover{
       background-image: linear-gradient(to right,#ff0404, #fdc3a1);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    

}
 .navbar ul li:nth-child(7){
    background-image: linear-gradient(to right,#ff0404, #fdc3a1);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

    padding:5px 5px;
    margin-top: -2px;

border: 1px solid #f68176;
 
}
.navbar ul li:nth-child(7):hover{
    box-shadow: inset 0 0 10px #f68176 ;
}
 .menubar{
display:none;
background-color: transparent;
background-color:inset 0 0 10px #f68176 ;
border: none;
margin-right: 20px;
 color: black;
}

.headerBox .profileItems{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px auto;
}
.profileItems figure{
    width: 200px;
    height:200px;
    background-image: url("../../assets/images/adityaImg.jpg");
    background-position: 0 0px;
    background-size: cover;
    margin-top: 160px;
    border: 5px solid #f68176;
    background-repeat: no-repeat;
    border-radius: 50%;
   align-items:center ;

}

.profileItems ul {
    list-style: none;
    margin-top:-10px;
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    margin-right: 30px;

}



@media screen and (max-width:900px){
    .navbar{
        justify-content: space-between;
    }
    .navbar p{
        margin-top: 15px;
        margin-left: 20px;
    }
.navbar .navlinks{
    position: absolute;
        right: 1px;
        top: 12px;
        z-index: 5;
        flex-direction: column;
        align-items: center;
        background-image: url("https://media.istockphoto.com/photos/defocused-blurred-motion-abstract-background-purple-red-picture-id851414042?k=20&m=851414042&s=612x612&w=0&h=Rux26FOTZk8k7NM_H-f_Mnj0bkHp0dyXr1EMbRqrMjE=");
        border: 2px solid red;
        color: white;
        border-radius: 12px;
        padding: 12px;
}


.navbar .hidenavbar{
    display: none;
}
.navbar .navlinks li{
    margin: 10px 0px;
}
 .menubar{
    display: block;
    
}


}